<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h1>サイト一覧</h1>
<h2>
  <%= link_to '新規サイト作成', new_site_path %>  
</h2>


<% @user.sites.each do |site| %>
  <dl>
    <!-- TODO: styleとりあえず -->
    <dt style="float:left;">サイト名:</dt>
    <dd><%= site.name %></dd>
    <dt style="float:left;">紹介文:</dt>
    <dd><%= site.caption %></dd>
    <dt style="float:left;">公開:</dt>
    <dd><%= site.release_status %></dd>
  </dl>
  <%= link_to '詳細', site_path(site)%> | 
  <%= link_to '編集', edit_site_path(site) %> | 
  <%= link_to '削除', site_path(site), method: :delete, data: {confirm: "本当に削除しますか？"} %>
<% end %>