<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h1>サイト一覧</h1>
<h2>
  <%= link_to '新規サイト作成', new_site_path %>  
</h2>

<table>
  <thead>
    <tr>
      <th>サイト名</th>
      <th>紹介文</th>
      <th>公開</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.caption %></td>
        <td><%= site.release_status %></td>
        <td><%= link_to '詳細', site_path(site)%></td>
        <td><%= link_to '編集', edit_site_path(site) %></td>
        <td><%= link_to '削除', site_path(site), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>