<p id="notice"><%= notice %></p>

<p>
  <strong>Amazon_id:</strong>
  <%= @product.amazon_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @product.introduction %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Release status:</strong>
  <%= @product.release_status %>
</p>

<%= link_to '編集', edit_site_product_path(@site, @product) %>
