<%= form_with url: user_sessions_path, method: :post  do |form| %>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email %>
  </div>
  
  <div class="field">
    <%= form.label :パスワード %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "submit", data: { disable_with: "sending..."} %>
  </div>
<% end %>